<h1>burguers!</h1>

<h2>Devoured burguers</h2>

<ul>
  {{#each burguers}}
  {{#unless devoured}}
  <div>{{this.burguer_name}}</div>
  <div>{{this.devoured}}</div>
  {{/unless}}

  {{/each}}
</ul>

<h2>burguers list!</h2>

<ul>
  {{#each burguers}}
  {{#if devoured}}
  <div>{{this.burguer_name}}</div>
  <div>{{this.devoured}}</div>
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burguers</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">burguers Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> Not eaten
  </div>

  <button type="submit">Add burguers</button>
</form>